@{
    ViewBag.Title = "CRUD Operation in AngularJS";
}


<div ng-controller="myCntrl">

    <a ng-click="AddEmployeeDiv()" class="btnGreen">Add Employee</a>
    
    <div class="divList">
        <p class="divHead">Employee List</p>
        <table cellpadding="12">
            <tr>
                <td><b>ID</b></td>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
                <td><b>Age</b></td>
                <td><b>Actions</b></td>
            </tr>
            <tr ng-repeat="employee in employees">
                <td>
                    {{employee.Id}}
                </td>
                <td>
                    {{employee.Name}}
                </td>
                <td>
                    {{employee.Email}}
                </td>
                <td> 
                    {{employee.Age}}
                </td>
                <td>
                     <a ng-click="EditEmployee(employee)" class="btnGreen">Edit</a>
                    <a ng-click="DeleteEmployee(employee)" class="btnGreen">Delete</a>
                </td>
            </tr>
        </table>
    </div>
        <div ng-show="divEmployee">
            <form name="frmEmployee" novalidate>
                <p class="divHead">{{Action}} Employee</p>
                <table>
                    <tr>
                        <td><b>Id</b></td>
                        <td>
                            <input type="text" disabled="" ng-model="employeeId" />
                        </td>
                    </tr>
                    <tr>
                        <td><b>Name</b></td>
                        <td>
                            <input type="text" ng-model="employeeName" name="Name" ng-maxlength=15 required ng-focus />
                            <span style="color:red" ng-show="frmEmployee.Name.$dirty && frmEmployee.Name.$invalid">
                                <span ng-show="frmEmployee.Name.$error.required">Username is required.</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Email</b></td>
                        <td>
                            <input type="email" ng-model="employeeEmail" name="email" required />
                            <span style="color:red" ng-show="frmEmployee.email.$dirty && frmEmployee.email.$invalid">
                                <span ng-show="frmEmployee.email.$error.required">Email is required.</span>
                                <span ng-show="frmEmployee.email.$error.email">Invalid email address.</span>@*ng-pattern="[a-zA-Z]"*@
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Age</b></td>
                        <td>
                            <input type="number" ng-model="employeeAge" name="age" ng-minlength=2 ng-maxlength="2" ng- required />

                            <span style="color:red" ng-show="frmEmployee.age.$dirty && frmEmployee.age.$invalid">
                                <span ng-show="frmEmployee.age.$error.required">Age is required.</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                           @* <input type="button" class="btnGreen" value="Save" ng-click="AddUpdateEmployee()" />*@
                            <button ng-disabled="frmEmployee.Name.$dirty && frmEmployee.Name.$invalid ||
			  frmEmployee.email.$dirty && frmEmployee.email.$invalid ||
			  frmEmployee.age.$dirty && frmEmployee.age.$invalid"
                                    ng-click="AddUpdateEmployee()">
                                Save
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
</div>
</div>